
	.social-icons.style-2 li a i {
		color: #fff;
		width: 44px;
		height: 44px;
		line-height: 45px;
		border-radius: 3px;
		text-align: center;
		display: block;
		font-size:30px;
	}
	.social-icons.style-2 li a .icon-facebook {
		background: #3b5998;
	}
	.social-icons.style-2 li a .icon-twitter {
		background: #1da1f2;
	}
	.social-icons.style-2 li a .icon-youtube-play {
		background: #e62117;
	}
	.social-icons.style-2 li a .icon-gplus-3 {
		background: #dc4a3d;
	}
	.social-icons.style-2 li a .icon-instagram-5 {
		background: #e3569a;
	}
	.social-icons.style-2 li a .icon-linkedin-3 {
		background: #006699;
	}
	.social-icons.style-2.size-2 li a i {
		width: 34px;
		height: 34px;
		line-height: 35px;
		font-size: 14px;
	}
	.pay-box > * {
		margin: 0 2px;
	}
	.pay-box > * img {
		border-radius: 4px;
	}
	.social-icons.share > li > a > i {
		font-size: 16px;
		color: #fff;
	}
	.social-icons.share > li > a > i {
		margin-right: 10px;
	}
	.social-icons.share > li > a.sh-facebook {
		background: #3b5998;
	}
	.social-icons.share > li > a.sh-twitter {
		background: #1da1f2;
	}
	.social-icons.share > li > a.sh-google {
		background: #d73d32;
	}
	.social-icons.share > li > a.sh-pinterest {
		background: #bd081c;
	}
	.social-icons.share > li > a.sh-mail {
		background: #7b8285;
	}
	.social-icons.share {
		font-size: 0;
		margin: -4px -2px 0;
	}
	.social-icons.share > li {
		display: inline-block;
		padding: 4px 2px 0;
		cursor: pointer;
	}
	.social-icons.share:not(.type2) > li > a {
		width: auto;
		height: auto;
		padding: 7px 20px;
		border: none;
		color: #fff;
		display: block;
		font-size: 14px;
		line-height: 20px;
		border-radius: 3px;
	}
	.social-icons.share.type3 > li > a {
		width: 32px;
		height: 32px;
		line-height: 32px;
		text-align: center;
		padding: 0;
	}
	.social-icons.share.type3 > li > a i {
		margin-right: 0;
	}
	/* info links */

	.info-links > li:not(:last-child) {
		margin-bottom: 10px;
	}
	.info-links > li > a {
		color: #71d3ff;
		font-weight: 400;
		letter-spacing: 0.3px;
		position: relative;
		white-space: nowrap;
		border-bottom: 1px solid transparent;
	}
	.info-links > li > a:hover {
		border-bottom-color: inherit;
	}
	.info-links.comment-type > li {
		color: #777;
		line-height: 24px;
	}
	.info-links.comment-type > li > a {
		color: #222;
		letter-spacing: 0px;
	}
	.info-links.comment-type > li > a:last-child {
		color: #003056;
	}
	.info-links.h-type {
		margin: 0 -9px -5px;
	}
	.info-links.h-type > li {
		padding: 0 9px 5px;
		display: inline-block;
	}
	.info-links.h-type > li:not(:last-child) {
		margin-bottom: 0;
	}
	/* list with slash */

	.menu-list {
		margin: 0 -8px;
	}
	.menu-list > li {
		display: inline-block;
		padding: 0 8px;
		position: relative;
	}
	.menu-list > li:not(:last-child):after {
		content: '';
		height: 14px;
		width: 1px;
		background: #222;
		left: 100%;
		top: calc(50% - 7px);
		display: block;
		position: absolute;
	}
	.menu-list > li a:hover {
		text-decoration: underline;
	}

	/*----------- Dividers --------------*/

	hr {
		border-style: solid;
		border-color: #eee;
		margin: 15px 0;
	}
	hr.item-divider {
		border-width: 1px 0 0 0;
	}
	hr.item-divider-2 {
		border-width: 2px 0 0 0;
	}
	hr.item-divider-3 {
		border-width: 3px 0 0 0;
		width: 70px;
	}
	hr.item-divider-4 {
		border-style: dashed;
		border-width: 1px 0 0 0;
		border-color: #999;
		margin-top: -10px !important;
		margin-bottom: 30px;
	}
	hr.style-1 {
		border-color: #fff;
		opacity: 0.15;
		margin: 30px 0;
	}
	hr.style-2 {
		border-color: #222;
	}
	hr.style-3 {
		border-color: #cc1f1a;
	}
	hr.style-4 {
		border-color: #04518c;
	}
	p + hr.item-divider-3 {
		display: inline-block;
	}
	/* Quantity */

	.quantity {
		text-align: center;
		position: relative;
		display: inline-block;
	}
	.quantity button {
		position: absolute;
		text-align: center;
		height: 100%;
		top: 0;
		bottom: auto;
		line-height: 45px;
		width: 45px;
		background: transparent;
		color: #7b8285;
	}
	.quantity .qty-minus {
		left: 0;
	}
	.quantity .qty-plus {
		right: 0;
	}
	.quantity input[type="text"] {
		width: 110px;
		text-align: center;
		padding: 0 45px;
	}
	/* -----------------------------------

	  8. Widgets & Shortcodes

	------------------------------------- */

	  /*----------- Twitter Feed --------------*/

	.twitter:not(:last-child) {
		margin-bottom: 25px;
	}
	.twitter .tw-user {
		display: inline-block;
		font-weight: 700;
	}
	.twitter .tweet_list > li {
		font-size: 16px;
		color: #222;
		line-height: 26px;
		font-weight: 300;
	}
	.twitter .tweet_list > li:empty {
		display: none;
	}
	.twitter .tweet_list > li:not(:last-child) {
		margin-bottom: 30px;
	}
	.twitter .tweet_list > li a:hover {
		text-decoration: underline;
	}
	.twitter .tweet_list > li a {
		color: #00a1d9;
	}
	.twitter .tweet_list > li .wrapper {
		margin-top: 5px;
	}
	.twitter ul li .entry-meta {
		float: left;
		font-size: 13px;
		color: #999;
		text-transform: uppercase;
	}
	.twitter ul li .menu-list {
		float: right;
	}
	.twitter ul li .menu-list > li:not(:last-child):after {
		background: #999;
	}
	.twitter ul li .menu-list > li a {
		text-transform: uppercase;
		font-size: 13px;
		font-weight: 500;
	}
	/*----------- Instagram Feed --------------*/

	.instagram-feed {
		overflow: hidden;
		margin: 0 -15px -30px;
	}
	.instagram-feed .nv-instafeed-item {
		width: 33.3333%;
		display: inline-block;
		padding: 0 15px 30px;
	}
	.instagram-feed .nv-instafeed-item > a {
		position: relative;
		display: block;
	}
	.nv-instafeed-item a:after {
		opacity: 0;
		visibility: hidden;
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 3;
		background: rgba(0, 48, 86, 0.7);
		transition: all .4s ease;
	}
	.instagram-feed .nv-instafeed-item > a:hover:after {
		opacity: 1;
		visibility: visible;
	}
	/*----------- LightBox --------------*/

	  /*----------- Accordions & Toggles --------------*/

	.accordion {
		text-align: left;
	}
	.accordion:not(.style-2) {
		margin-top: -20px;
	}
	.accordion:not(.style-2) .accordion-item:not(:last-child) {
		border-bottom: 2px solid #eee;
	}
	.accordion .a-title {
		font-size: 18px;
		position: relative;
		color: #222;
		cursor: pointer;
		padding: 20px 50px 20px 0;
		margin-bottom: 0;
		letter-spacing: 0px;
		font-weight: 600;
		-webkit-transition: all .4s ease;
		-o-transition: all .4s ease;
		transition: all .4s ease;
	}
	.laws .a-title, .faqs .a-title {
		font-size: 22px;
	}
	.accordion .a-title span {
		color: #404040;
		font-size: 24px;
		margin-right: 10px;
		display: inline-block;
		vertical-align: -7px;
	}
	.accordion .a-title.active span {
		color: #fff;
	}
	.accordion .a-title:after {
		position: absolute;
		right: 20px;
		top: 50%;
		color: #222;
		font-family: 'Linearicons';
		content: '\e936';
		font-size: 18px;
		font-weight: normal;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
	}
	.accordion .a-title.active {
		color: #404040;
		font-weight: 600;
	}
	.accordion .a-title:hover {
		color: #f45c43;
	}
	.accordion .a-title.active:after {
		content: '\e937';
	}
	.accordion .a-content {
		padding-bottom: 30px;
	}
	.accordion.style-2 .accordion-item:not(:last-child) {
		margin-bottom: 5px;
	}
	.accordion.style-2 .a-title {
		padding: 12px 50px 12px 20px;
		background: #e3e3e3;
		border-radius: 3px;
		font-size: 16px;
		text-transform: uppercase;
	}
	.accordion.style-2 .a-title.active {
		color: #fff;
		background: #404040;
	}
	.accordion.style-2 .a-title.active:after {
		color: #fff;
	}
	.accordion.style-2 .a-content {
		background: #fafafa;
		padding: 30px 20px;
	}
	.accordion.var2 .a-content .custom-list > li {
		font-weight: 300;
		font-size: 14px;
		color: #47d9bf;
	}
	.accordion.var2 .a-content .custom-list[class*="type-"] li before {
		color: #eee;
	}
	.accordion.var2 .a-title,  .accordion.var2 .a-title:after {
		color: #fff;
	}
	.accordion.var2 .a-title.active {
		color: #ffdb3e;
	}
	.accordion.var2 span {
		color: #ffdb3e;
	}
	.accordion.var2 .accordion-item:not(:last-child) {
		border-color: rgba(255,255,255,0.1);
	}

	  /*----------- Alert boxes --------------*/

	  /*----------- Alert boxes --------------*/

	.message-container-subscribe {
		color: #333;
		display: none;
		font-size: 14px;
		margin-top: 5px;
		z-index: 99;
	}
	 [class*="message-container"] {
	 display: inline-block;
	 margin-top: 10px;
	 top: 100%;
	 left: 0;
	 width: auto;
	 position: absolute;
	 border-radius: 3px;
	}
	.form-wrap [class*="message-container"] {
		left: 5px;
	}
	.message-container-subscribe [class*="alert"] {
		padding: 9px 20px;
	}
	.alert-box i {
		float: left;
		position: relative;
		font-style: normal;
		font-weight: bold;
		margin-right: 10px;
	}
	.alert-box p {white-space: nowrap;}
	.alert-danger, .alert-success{padding:5px; text-align:center;}

/*----------- Dropcaps --------------*/

	.dropcap first-letter {
		font-weight: 900;
		display: block;
		float: left;
		margin: 15px 10px 0 0;
	}
	.dropcap first-letter {
		font-size: 50px;
	}
	.dropcap.type-1 first-letter {
		color: #04518c;
	}
	.dropcap.type-2 first-letter {
		color: #1cb7cf;
	}

	/*----------- Testimonials --------------*/

	.testimonial-list .testimonial:not(:last-child) {
		margin-bottom: 45px;
	}
	.testimonial blockquote {
		color: #4b4e50;
		font-size: 18px;
		line-height: 30px;
		padding: 0;
	}
	.testimonial-list .testimonial:not(:last-child):after {
		content: '';
		display: block;
		background: #eee;
		width: 70px;
		height: 3px;
		margin-top: 40px;
	}
	.testimonial blockquote p span {
		font-size: 30px;
		color: #fff;
		display: inline-block;
	}
	.testimonial h6 {
		color: #4b4e50;
		font-weight: 600;
		line-height: 20px;
	}
	.testimonial h6:not(:last-child) {
		margin-bottom: 20px;
	}
	.testimonial .author-name {
		text-transform: uppercase;
		display: block;
		color: #777;
		letter-spacing: 0.8px;
		font-weight: normal;
	}
	.testimonial .author-position,  .testimonial .author-about,  .testimonial .author-company {
		display: block;
		text-transform: uppercase;
		font-size: 12px;
		color: #aab3b6;
	}
	.testimonial .author-name:not(:last-child) {
		margin-bottom: 2px;
	}
	.testimonial .author-position:not(:last-child) {
		margin-bottom: 2px;
	}
	.testimonial .testimonial-holder:not(:last-child) {
		margin-bottom: 30px;
	}
	.testimonial-holder.with-bg-img {
		background: #404040;
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		background-attachment: fixed;
		-webkit-backface-visibility: hidden;
	}
	.testimonial-holder.with-bg-img:not(.page-section) {
		padding: 60px 0;
	}
	.testimonial-holder.with-bg-img .testimonial.testimonial-single {
		text-align: center;
		max-width: 700px;
		display: inline-block;
	}
	.testimonial-holder.with-bg-img:not(.style-2) .testimonial blockquote {
		color: #fff;
		font-size: 24px;
		line-height: 36px;
	}
	.testimonial-holder.with-bg-img:not(.style-2) .testimonial blockquote:before {
		font-size: 40px;
	}
	.testimonial blockquote:not(:last-child) {
		margin-bottom: 30px;
	}
	.testimonial-holder.with-bg-img:not(.style-2) .author-name {
		color: #cabc8b;
	}
	.testimonial-holder.style-2 .testimonial {
		padding: 40px 30px 20px;
		background: #fff;
		text-align: center;
		-webkit-box-shadow: 0px -100px 18px 0px rgba(0, 0, 0, 0.06);
		-moz-box-shadow: 0px -100px 18px 0px rgba(0, 0, 0, 0.06);
		box-shadow: 0px -100px 18px 0px rgba(0, 0, 0, 0.06);
	}
	.testimonial-holder.style-2.with-bg-img {
		padding: 70px 0 0;
		margin-bottom: 200px;
	}
	.testimonial-holder.style-2.with-bg-img .carousel-type-1 {
		display: flex;
		position: relative;
	}
	.testimonial-holder.style-2.with-bg-img .carousel-type-1 .btn {
		position: absolute;
		top: 100%;
		margin-top: 140px;
		left: 50%;
		-webkit-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		transform: translateX(-50%);
	}
	.testimonial-holder.style-2.with-bg-img .owl-carousel {
		margin-bottom: -100px;
	}
	.testimonial-holder.with-bg-img:not(.style-2) .msg-btn {
		margin: 20px 0;
	}
	/*----------- Carousel Sliders --------------*/

	.carousel-type-1 .owl-carousel .owl-nav,  .carousel-type-2 .owl-carousel .owl-dots,  .carousel-type-1 .owl-carousel[id*="sync-"] .owl-dots,  .carousel-type-1 .owl-carousel.testimonial .owl-dots {
		display: none!important;
	}
	.carousel-type-1 .owl-carousel:not(:last-child) {
		margin-bottom: 40px;
	}
	[class*="carousel-type"] .owl-dots {
		/*margin-top: 30px;*/
		text-align: center;
		font-size: 0;
	}
	[class*="carousel-type"] .owl-dots .owl-dot {
		display: inline-block;
		margin: 0 6px;
	}
	.carousel-type-2 .owl-nav {
		opacity: 0;
		visibility: hidden;
		-webkit-transition: all .35s ease;
		transition: all .35s ease;
	}
	.carousel-type-2:hover .owl-nav {
		opacity: 1;
		visibility: visible;
	}
	.owl-prev,  .owl-next {
		color: #222;
		position: absolute;
		top: 50%;
		font-size: 40px;
		margin-top: -20px;
		line-height: 40px;
		opacity: 0.3;
		-webkit-transition: all .35s ease;
		transition: all .35s ease;
	}
	.owl-prev {
		left: -70px;
	}
	.owl-next {
		right: -70px;
	}
	.owl-prev before,  .owl-next before {
		font-family: 'Linearicons';
	}
	.owl-prev before {
		content: '\e93b';
	}
	.owl-next before {
		content: '\e93c';
	}
	 .owl-nav > [class*="owl-"] {
	 color: #222;
	}
	.owl-nav > [class*="owl-"]:hover {
		opacity: 1;
	}
	.carousel-type-2.style-2 .owl-nav .owl-prev {
		left: 20px;
	}
	.carousel-type-2.style-2 .owl-nav .owl-next {
		right: 20px;
	}
	 .carousel-type-2.style-2.var2 .owl-nav > [class*="owl-"] {
	 color: #fff;
	}
	.carousel-type-3 .owl-carousel {
		padding: 0 80px;
	}
	.carousel-type-3 .owl-nav .owl-prev {
		left: -10px;
	}
	.carousel-type-3 .owl-nav .owl-next {
		right: -10px;
	}
	/*----------- Progress Bars --------------*/

	.pbar-wrap {
		position: relative;
	}
	.pbar {
		position: relative;
		height: 5px;
		background-color: #eee;
	}
	.pbar-wrap:not(:last-child) {
		margin-bottom: 40px;
	}
	.pbar-inner {
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		background: #04518c;
	}
	.pbar-wrap .pbar-title {
		font-size: 18px;
		margin-bottom: 5px;
		color: #222;
	}
	.pbar-wrap .pbar-title > span {
		float: right;
	}
	/*----------- Pricing Tables --------------*/

	.pricing-tables-holder {
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		margin: 0 -15px -30px;
		-webkit-justify-content: space-around;
		justify-content: space-around;
		-webkit-flex-flow: row wrap;
		flex-flow: row wrap;
	}
	.pricing-tables-holder[class*="cols-"] .pricing-col {
		padding: 20px 15px 30px;
	}
	.pricing-tables-holder.cols-2 .pricing-col {
		width: 50%;
	}
	.pricing-tables-holder.cols-3 .pricing-col {
		width: 33.33333%;
	}
	.pricing-tables-holder.cols-4 .pricing-col {
		width: 25%;
	}
	.pricing-tables-holder:not(.style-2) .pricing-col:nth-child(1) .pricing-table {
		background: #04518c;
	}
	.pricing-tables-holder:not(.style-2) .pricing-col:nth-child(2) .pricing-table {
		background: #00a1d9;
	}
	.pricing-tables-holder:not(.style-2) .pricing-col:nth-child(3) .pricing-table {
		background: #47d9bf;
	}
	.pricing-tables-holder:not(.style-2) .pricing-col:nth-child(3) .pricing-table .custom-list li:before {
		color: #f6db4a;
	}
	.pricing-table {
		border-radius: 3px;
		overflow: hidden;
		position: relative;
		z-index: 1;
		padding-left: 30px;
		padding-right: 30px;
		padding-bottom: 75px;
		height: 100%;
	}
	.pricing-table.selected {
		padding: 15px 30px;
		padding-bottom: 95px;
		z-index: 2;
		margin-top: -20px;
		height: calc(100% + 40px);
	}
	.pricing-table:nth-child(n+2) {
		margin-left: -4px;
	}
	.pt-header {
		color: #fff;
		padding: 35px 0 25px;
		word-break: break-all;
	}
	.pt-type {
		font-size: 18px;
		color: #fff;
		font-weight: bold;
		letter-spacing: 0.3px;
	}
	.pt-price {
		font-size: 42px;
		font-weight: 500;
		color: #fff;
	}
	.pt-type,  .pt-price {
		line-height: 1.2em;
	}
	.pt-type:not(:last-child) {
		margin-bottom: 10px;
	}
	.pt-period {
		text-transform: uppercase;
		font-size: 12px;
		color: #eee;
		line-height: 18px;
		font-weight: normal;
	}
	.pt-lifetime {
		vertical-align: baseline;
	}
	.pt-features-list {
		color: #eee;
		font-size: 14px;
	}
	.custom-list.pt-features-list li:before {
		color: #c5b55c;
		font-size: 14px;
	}
	.custom-list.pt-features-list > li:not(:last-child) {
		margin-bottom: 7px;
	}
	.pt-footer {
		position: absolute;
		bottom: 40px;
		left: 30px;
	}
	.pricing-table.selected .pt-footer {
		bottom: 60px;
	}
	.pt-header,  .pt-features-list {
		position: relative;
		z-index: 1;
		line-height: 24px;
	}
	.label {
		font-size: 11px;
		line-height: 1em;
		font-weight: 400;
		text-transform: uppercase;
		letter-spacing: 1px;
		color: #fff;
		display: block;
		padding: 5px 10px;
		position: absolute;
		background-color: #cc1f1a;
		right: 20px;
		top: 20px;
		z-index: 2;
		border-radius: 3px;
	}
	.label.sale {
		background-color: #ce2929;
	}
	.label.sold {
		background-color: #f1a91f;
	}
	.pricing-tables-holder.style-2 .pricing-table {
		background: #fff;
	}
	.pricing-tables-holder.style-2 .pricing-col:nth-child(1) .pricing-table .pt-price,  .pricing-tables-holder.style-2 .pricing-col:nth-child(1) .pricing-table .pt-type {
		color: #04518c;
	}
	.pricing-tables-holder.style-2 .pricing-col:nth-child(2) .pricing-table .pt-price,  .pricing-tables-holder.style-2 .pricing-col:nth-child(2) .pricing-table .pt-type {
		color: #00a1d9;
	}
	.pricing-tables-holder.style-2 .pricing-col:nth-child(3) .pricing-table .pt-price,  .pricing-tables-holder.style-2 .pricing-col:nth-child(3) .pricing-table .pt-type {
		color: #47d9bf;
	}
	.pricing-tables-holder.style-2 .pricing-table .pt-period,  .pricing-tables-holder.style-2 .pricing-table .pt-features-list {
		color: #777;
	}
	.pricing-tables-holder.style-2 .pricing-table .custom-list.pt-features-list li:before {
		color: #26a8dc;
	}
	.pt-section.with-bg-img {
		padding: 70px 0;
		color: #eee;
	}
	.pt-section .tabs.vertical .tabs-content {
		padding-top: 0;
	}
	.pt-section .tabs.vertical .tabs-nav {
		width: 25%;
		flex-basis: 25%;
		max-width: 25%;
	}
	.pt-section .tabs.vertical .tabs-content {
		width: 75%;
		flex-basis: 75%;
		max-width: 75%;
		padding: 0 0 0 30px;
	}
	.pt-section .tabs.vertical .tabs-nav {
		margin-top: 80px;
	}
	.pt-section .tabs.vertical .tabs-nav > li.ui-tabs-active a,  .pt-section .tabs .tabs-nav > li > a {
		border-right-color: transparent;
	}
	.pt-section.with-bg-img .tabs .tabs-nav > li > a {
		color: #fff;
	}
	.pt-section.with-bg-img .tabs.vertical .tabs-nav > li.ui-tabs-active a,  .pt-section.with-bg-img .tabs .tabs-nav > li > a span {
		color: #ffdb3e;
	}
	.pt-section.with-bg-img .tabs .tabs-nav > li > a {
		border-bottom: 2px solid rgba(255,255,255,0.1);
	}
	/*----------- Counters --------------*/

	.counter {
		color: #222;
		font-weight: normal;
		text-align: center;
	}
	.count-number {
		color: #00a1d9;
		font-size: 48px;
		font-weight: bold;
		line-height: 43px;
		margin-bottom: 15px;
		letter-spacing: 0;
	}
	.counter before {
		content: attr(data-value);
		font-size: 58px;
		line-height: 1em;
		position: absolute;
		bottom: 100%;
		left: 0;
		right: 0;
		margin-bottom: 16px;
		padding-left: inherit;
		padding-right: inherit;
		white-space: nowrap;
	}
	.counter .count-item:not(:last-child) {
		margin-bottom: 15px;
	}
	.counter .count-item > *:not(.pre) {
		display: inline-block;
		vertical-align: middle;
		margin: 0;
	}
	.counter .count-item > [class*="licon-"]:not(:last-child) {
		margin-right: 10px;
	}
	.counter .count-item > span {
		font-size: 40px;
		color: #00a1d9;
	}
	.count-item > span.pre {
		font-size: 18px;
		font-weight: 500;
		vertical-align: top;
		line-height: 15px;
	}
	.counter-wrap.style-2 .counter .count-item > span,  .counter-wrap.style-2 .count-number {
		color: #47d9bf;
	}
	.counter-wrap.style-2 .counter {
		color: #eee;
	}
	/*----------- Tabs & Tour Sections --------------*/

	.tabs-conrainer {
		position: relative;
	}
	.tabs .tabs-nav {
		margin-bottom: -2px;
	}
	.tabs .tabs-nav li {
		float: left;
	}
	.tabs.horisontal .tabs-nav li:last-child a {
		margin-right: 0;
	}
	.tabs .tabs-content {
		display: block;
		padding: 20px 0;
		border-top: 2px solid #f2f3f6;
	}
	.tabs .tabs-nav {
		width: 100%;
		overflow: hidden;
	}
	.tabs .tabs-nav > li > a {
		display: block;
		font-size: 18px;
		text-transform: uppercase;
		padding: 5px 20px 18px 20px;
		color: #222;
		font-weight: 400;
		letter-spacing: 0.5px;
		position: relative;
		border-bottom: 2px solid #f2f3f6;
		border-right: 2px solid #f2f3f6;
	}
	.tabs .tabs-nav > li > a span {
		font-size: 32px;
		margin-right: 15px;
		vertical-align: -5px;
		color: #00a1d9;
		height: 0;
	}
	.tabs .tabs-nav > li:first-child > a {
		padding-left: 0;
	}
	.tabs .tabs-nav > li.ui-tabs-active > a {
		color: #00a1d9;
	}
	.tabs:not(.vertical) .tabs-nav > li:last-child > a {
		border-right: none;
	}
	.tabs:not(.vertical) .tabs-nav > li.ui-tabs-active a {
		border-bottom-color: #fff;
	}
	.tabs.style-2 .tabs-nav > li > a {
		padding: 9px 20px;
		color: #222;
		border: none;
		background: #e3e3e3;
		border-radius: 3px;
		font-weight: 500;
		word-wrap: break-word;
		font-size: 16px;
		letter-spacing: 0.8px;
	}
	.tabs.style-2 .tabs-nav > li:not(:last-child) {
		margin-right: 4px;
	}
	.tabs.style-2 .tabs-nav > li.ui-tabs-active > a {
		color: #fff;
		background: #404040;
	}
	.tabs.style-2 .tabs-content {
		border: none;
		margin-top: 5px;
		border-radius: 3px;
		padding: 20px;
		background: #fafafa;
	}
	.tabs.vertical {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-webkit-flex-flow: row nowrap;
		flex-flow: row nowrap;
	}
	.tabs.vertical .tabs-nav {
		width: 30%;
		flex-basis: 30%;
		max-width: 30%;
		margin-bottom: 0;
	}
	.tabs.vertical .tabs-content {
		width: 70%;
		flex-basis: 70%;
		max-width: 70%;
		padding: 20px 25px 30px 30px;
		border: none;
	}
	.tabs.vertical .tabs-nav li {
		float: none;
	}
	.tabs.vertical:not(.style-2) .tabs-nav > li:not(:first-child) > a {
		padding-top: 18px;
	}
	.tabs.vertical:not(.style-2) .tabs-nav > li:last-child > a {
		padding-bottom: 5px;
	}
	.tabs.vertical:not(.style-2) .tabs-nav > li > a {
		padding-left: 0;
	}
	.tabs.vertical .tabs-nav > li:last-child > a {
		border-bottom: none;
	}
	.tabs.vertical .tabs-nav > li.ui-tabs-active a {
		border-right-color: #fff;
	}
	.tabs.vertical .tabs-nav li:last-child a {
		border-bottom-right-radius: 3px;
	}
	.tabs.vertical.style-2 .tabs-nav > li:not(:last-child) {
		margin-right: 0;
		margin-bottom: 4px;
	}
	.tabs.vertical.style-2 .tabs-content {
		margin-top: 0;
		margin-left: 4px;
	}
	.tabs.style-2.var2 .tabs-content {
		background: transparent;
		padding: 30px 0;
	}
	.tabs.vertical.style-2.var2 .tabs-content {
		padding: 0 0 0 30px;
	}
	.tabs.vertical.style-2.var2 .tabs-content .custom-list > li {
		font-weight: 300;
	}
	/*----------- Isotope --------------*/

	#options {
		z-index: 8;
		position: relative;
	}
	#options:not(:last-child) {
		margin-bottom: 40px;
	}
	.isotope:not(:last-child) {
		margin-bottom: 50px;
	}
	.isotope-nav {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		flex-direction: column;
		-webkit-flex-flow: row wrap;
		flex-flow: row wrap;
		justify-content: center;
	}
	.isotope-nav > button {
		margin: 0 2px 4px;
		text-transform: uppercase;
		color: #222;
		background-color: #e3e3e3;
		padding: 7px 30px;
		letter-spacing: 0.8px;
		font-weight: 500;
		font-size: 16px;
		border-radius: 3px;
	}
	.isotope-nav > button:hover {
		background-color: #ff7e41;
		color: #fff;
	}
	.isotope-nav > button.is-checked {
		color: #fff;
		background-color: #404040;
	}
	/*----------- Team Members --------------*/

	.team-member .team-desc {
		padding: 25px 30px 30px;
		background: #fafafa;
		color: #404040;
	}
	.team-item .team-member .member-name {
		font-size: 22px;
		font-weight: 500;
		color: #404040;
		border-bottom: 1px solid transparent;
	}
	.team-item .team-member:hover {
		-webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.3);
		-moz-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.3);
		box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.3);
	}
	.team-item .team-member .member-name a {
		font-weight: 500;
		color: #404040;
		border-bottom: 1px solid transparent;
	}
	.team-item .team-member .member-name a:hover {
		border-bottom-color: inherit;
	}
	.team-member {
		position: relative;
		z-index: 1;
		transition: all .4s ease;
	}
	.team-member .member-link {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 3;
	}
	.team-member .member-photo {
		position: relative;
		display: block;
	}
	.member-about {
		color: #7b8285;
	}
	.member-name + .member-position {
		margin-top: -10px;
	}
	.member-position {
		color: #777;
		font-size: 16px;
		font-weight: normal;
	}
	.member-position:not(:last-child) {
		margin-bottom: 15px;
	}
	.team-member .custom-list li span {
		width: 78px;
		display: inline-block;
	}
	.team-member .custom-list li {
		color: #2a2c32;
	}
	.team-member .social-icons > li > a {
		background: #80c644;
	}
	.team-member .social-icons > li:hover > a {
		background: #494c55;
		color: #fff;
	}
	.team-holder.var2 .team-item .member-photo {
		float: left;
		margin-right: 20px;
	}
	.team-holder.var2 .team-item .member-name:not(:last-child) {
		margin-bottom: 10px;
	}
	/*----------- Google Map --------------*/

	.map-section {
		position: relative;
	}
	#googleMap {
		width: 100%;
		padding-bottom: 21%;
		min-height: 550px;
		z-index: 1;
		overflow: hidden;
	}
	 iframe -webkit-scrollbar {
	 display: none!important;
	}
	/* iframe scrollbar{
		  display: none!important;
	  }*/

	.map-section .map-info {
		position: absolute;
		right: 20%;
		top: 0;
		bottom: 0;
		background: rgba(0,48,86,0.9);
		padding: 80px 50px;
		z-index: 2;
	}
	.map-section .map-info .section-sub-title,  .map-section .map-info .section-title,  .map-section .map-info .contact-info li.info-item {
		color: #fff;
	}
	.map-section .map-info .contact-info li.info-item > i,  .map-section .map-info .contact-info li.info-item > .item-info > a {
		color: #ffdb3e;
	}
	/*----------- Services --------------*/

	  /*----------- Countdown --------------*/

	  /*----------- Audio Player --------------*/

	.audio-poster {
		position: relative;
	}
	.audio-poster img {
		width: 100%;
	}
	.audio-poster .audioplayer1 {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		margin-bottom: 0;
	}
	.audioplayer {
		background: rgba(0,48,86,0.8);
		color: #fff;
	}
	.audioplayer:not(.audioplayer-playing) .audioplayer-playpause a {
		border-left-color: #fff;
	}
	.audioplayer:not(.audioplayer-playing) .audioplayer-playpause:hover a {
		border-left-color: #fff;
	}
	.audioplayer-volume {
		border: none;
	}
	.audioplayer-volume-button a {
		background: #fff;
	}
	.audioplayer-volume-button:hover a {
		background: #ffdb3e;
	}
	.audioplayer-volume-button a:before {
		border-right-color: #fff;
	}
	.audioplayer:not(.audioplayer-mute) .audioplayer-volume-button a:after {
		border-color: #fff;
	}
	.audioplayer-volume-button:hover a:before {
		border-right-color: #ffdb3e;
	}
	.audioplayer:not(.audioplayer-mute) .audioplayer-volume-button:hover a:after {
		border-color: #ffdb3e;
	}
	.audioplayer-bar-played,  .audioplayer-volume-adjust div div {
		background: #ffdb3e;
	}

	/* ------------------9. Blog----------- */

	.entry-box:not(:last-child) {
		margin-bottom: 50px;
	}
	/*----------- Entries --------------*/

	.entry-box .entry:not(:last-child) {
		margin-bottom: 60px;
	}
	.entry-box .entry .entry-body {
		padding: 25px 30px 30px;
		background: #fff;
		-webkit-transition: all .3s ease;
		-o-transition: all .3s ease;
		transition: all .3s ease;
	}
	.entry-body .entry-meta {
		color: #999;
		text-transform: uppercase;
		font-size: 14px;
		line-height: 20px;
	}
	.thumbnail-attachment img {
		width: 100%;
	}
	.entry-body .entry-title {
		font-weight: 500;
	}
	.entry-body .entry-title a {
		color: #404040;
		border-bottom: 1px solid transparent;
	}
	.entry-body .entry-title a:hover {
		color: #ff7e41;
		border-bottom-color: inherit;
	}
	.entry-body .entry-meta:not(:last-child) {
		margin-bottom: 5px;
	}
	.entry-body .entry-meta > *:not(:last-child):after {
		content: '/';
		display: inline-block;
		margin: 0 5px;
		color: #999;
	}
	.entry-body .entry-meta > a {
		color: #222;
	}
	.entry-body .entry-meta > a:hover {
		text-decoration: underline;
	}
	.entry .entry-body .label {
		position: relative;
		display: inline-block;
		top: 0;
		right: 0;
		padding: 5px;
		text-transform: uppercase;
		font-size: 11px;
		letter-spacing: 0.8px;
		color: #fff;
		background: #04518c;
		background: -moz-linear-gradient(left, #04518c 0%, #00a1d9 33%, #47d9bf 100%);
		background: -webkit-linear-gradient(left, #04518c 0%, #00a1d9 33%, #47d9bf 100%);
		background: linear-gradient(to right, #04518c 0%, #00a1d9 33%, #47d9bf 100%);
	 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#04518c', endColorstr='#47d9bf', GradientType=1 );
	}
	.entry .entry-body .label:not(:last-child) {
		margin-bottom: 15px;
	}
	.entry-box.style-2 .entry .entry-body {
		background: #fafafa;
	}
	.entry-box.var2 .entry:not(:last-child) {
		margin-bottom: 30px;
	}
	.entry .custom-list li {
		font-weight: 300;
	}
	/*----------- Small Entries --------------*/

	.entry-box.entry-small .entry {
		position: relative;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-webkit-flex-flow: row wrap;
		flex-flow: row wrap;
		margin: 0 -15px -30px;
	}
	.entry-box.entry-small .entry:not(:first-child) {
		margin-top: 60px;
	}
	.entry-box.entry-small .thumbnail-attachment,  .entry-box.entry-small .entry-body {
		width: 50%;
		padding: 0 15px 30px;
	}
	.entry-box.entry-small .entry-body:only-child {
		width: 100%;
	}
	.entry-box.entry-small .entry-body .entry-meta {
		font-size: 14px;
		line-height: 20px;
	}
	.entry-box.entry-small .entry-body .entry-meta:not(:last-child) {
		margin-bottom: 5px;
	}
	.link-attachment {
		padding: 27px 30px;
		display: block;
		width: 100%;
		font-size: 24px;
		font-weight: 400;
		color: #003056;
		border-radius: 3px;
		background: #efefef;
		position: relative;
		overflow: hidden;
		z-index: 1;
	}
	.link-attachment:hover {
		background: #003056;
		color: #fff;
	}
	.link-attachment:before {
		font-family: "Linearicons";
		content: "\e917";
		position: absolute;
		font-size: 150px;
		right: -15px;
		top: 30px;
		color: #003056;
		font-weight: normal;
		z-index: -1;
		opacity: 0.1;
	}
	.link-attachment:hover:before {
		color: #fff;
		opacity: 0.1;
	}
	.entry-box:not(.entry-small) .blockquote-holder:not(:last-child) {
		margin-bottom: 0;
	}
	.audio-frame {
		position: relative;
		margin-bottom: -10px;
	}
	.entry-box.size-2 .entry .entry-body {
		padding: 20px;
	}
	.entry-box.size-2 .entry .entry-body .entry-meta {
		font-size: 13px;
		line-height: 18px;
	}
	/* -------------------Comments------------------------- */

	.comments-list {
		overflow: hidden;
	}
	.comments-list:not(:last-child) {
		margin-bottom: 30px;
	}
	.comments-list .children .comment {
		padding-left: 40px;
	}
	.comment > article {
		position: relative;
		padding: 20px 0 20px;
		overflow: hidden;
	}
	.gravatar {
		float: left;
		width: 100px;
		margin-right: 20px;
	}
	.comment-body {
		overflow: hidden;
	}
	.comment-meta {
		font-size: 13px;
		line-height: 24px;
		color: #777;
		overflow: hidden;
	}
	.comment-meta:not(:last-child) {
		margin-bottom: 5px;
	}
	.comment-meta > *:not(.comment-author) {
		display: inline-block;
		vertical-align: baseline;
		text-transform: uppercase;
		font-size: 12px;
	}
	.comment-meta > a {
		color: #038ed3;
	}
	.comment-meta .comment-info > *:not(:last-child):after {
		content: '/';
		display: inline-block;
		margin: 0 5px;
		color: #777;
	}
	.comment-author {
		float: left;
		text-transform: none;
	}
	.comment-author a {
		color: #003056;
		border-bottom: 1px solid transparent;
	}
	.comment-author a:hover {
		border-bottom-color: inherit;
	}
	.comment-author:not(:last-child) {
		margin-bottom: 5px;
	}
	.comment-reply-link {
		color: #222;
		font-size: 13px;
		text-transform: uppercase;
		letter-spacing: 0;
	}
	.comment-reply-link:hover {
		text-decoration: underline;
	}
	.comment .comment-info {
		float: right;
	}
		.event-detail-title {
		text-transform: uppercase;
		letter-spacing: 0.5px;
		color: #003056;
	}

	/* -----------11. Shop--------------- */

		.view-type {
		font-size: 0;
	}
	.view-type > * {
		font-size: 20px;
		line-height: 20px;
		display: inline-block;
		vertical-align: middle;
		margin: 0 10px 0;
		color: #2a2c32;
	}
	.view-type > *:first-child {
		font-size: 18px;
		line-height: 15px;
	}
	.hidden-section:not(:last-child) {
		margin-bottom: 20px;
	}
	.hidden-section .account-action {
		font-size: 24px;
		font-weight: 600;
		color: #2a2c32;
	}
	.hidden-section .account-action > a {
		color: #038ed3;
	}
	.hidden-section .account-action > a:hover {
		color: #2a2c32;
	}
	.hidden-section .content {
		padding: 20px 0 15px;
		color: #7b8285;
	}
	.forgot-password {
		color: #038ed3;
	}
	.forgot-password:hover {
		text-decoration: underline;
	}
	.checkbox-title input[type="checkbox"] + label {
		font-size: 32px;
		color: #2a2c32;
	}
	.checkbox-title input[type="radio"] + label before, .checkbox-title input[type="checkbox"] + label before {
		left: auto;
		right: 0;
		top: 50%;
		margin-top: -9px;
	}
	.checkbox-title input[type="checkbox"] + label after {
		left: auto;
		right: -1px;
		top: 50%;
		margin-top: -12px;
	}
	.checkbox-title input[type="checkbox"] + label {
		padding-left: 0;
		padding-right: 32px;
	}
	.checkbox-title:not(:last-child) {
		margin-bottom: 20px;
	}
	.payment-option li:not(:last-child) {
		margin-bottom: 15px;
	}
	.payment-option input[type="radio"] + label {
		font-weight: bold;
		color: #4b4e50;
		font-size: 18px;
	}
	.payment-option p {
		color: #7b8285;
	}
	.payment-option .input-wrapper:not(:last-child) {
		margin-bottom: 10px;
	}
	.payment-option .paypal-link {
		font-size: 18px;
		color: #038ed3;
		margin-left: -20px;
	}
	.payment-option .paypal-link:hover {
		text-decoration: underline;
	}
	.payment-option > li:last-child [class*="btn"]:only-child {
		margin-top: 15px;
	}
	/* ------------------ Product Box ---------------- */

	.products-holder {
		margin: -30px -15px 0;
		position: relative;
	}
	.products-holder.with-separators {
		padding-bottom: 30px;
	}
	.products-holder.with-separators:before,  .products-holder.with-separators:after {
		content: '';
		position: absolute;
		left: -15px;
		right: 0;
		height: 2px;
		width: calc(100%);
		background: #f2f3f6;
	}
	.products-holder.with-separators:before {
		top: 0;
	}
	.products-holder.with-separators:after {
		bottom: 0;
	}
	.products-holder .product-col {
		padding: 30px 15px 0;
		width: 100%;
	}
	.products-holder:not(:last-child) {
		margin-bottom: 30px;
	}
	.product {
		position: relative;
	}
	.product-description {
		position: relative;
	}
	.product .product-image .overlay {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		text-align: center;
		opacity: 0;
		visibility: hidden;
		-webkit-transition: all .5s ease;
		-o-transition: all .5s ease;
		transition: all .5s ease;
	}
	.product:hover .product-image .overlay {
		opacity: 1;
		visibility: visible;
		bottom: 20px;
	}
	.product .product-description .product-name:hover a {
		color: inherit;
		text-decoration: underline;
	}
	.product after {
		content: "";
		display: block;
		clear: both;
	}
	.product-image {
		display: block;
		position: relative;
	}
	.product-image:not(:last-child) {
		margin-bottom: 10px;
	}
	.product-name {
		font-size: 18px;
		line-height: 24px;
		letter-spacing: -0.2px;
		font-weight: normal;
	}
	.product-name:not(:last-child) {
		margin-bottom: 5px;
	}
	.product-price {
		color: #80c644;
	}
	.product-info {
		font-size: 18px;
		line-height: 28px;
		font-weight: bold;
		letter-spacing: -1px;
		overflow: hidden;
	}
	.product-info .product-review {
		color: #7b8285;
		font-size: 13px;
		display: inline-block;
		vertical-align: middle;
		font-weight: normal;
		letter-spacing: 0;
	}
	.product-info .product-review:last-child {
		margin-left: 10px;
	}
	.product-info .product-review > a {
		color: #038ed3;
	}
	.product-info .product-review > a:hover {
		text-decoration: underline;
	}
	.product-excerpt:not(:last-child) {
		margin-bottom: 20px;
	}
	.amount after {
		content: 'x';
		display: inline-block;
		margin: 0 5px;
		font-size: 14px;
	}


	/* ------------------ List View ---------------- */

	.products-holder.view-list[class*="fx-cols-"] .product-col {
		max-width: 100%;
		width: 100%;
		flex-basis: 100%;
	}
	.products-holder.view-list .product-image {
		float: left;
		max-width: 230px;
		width: 32%;
		margin: 0 30px 0 0;
	}
	.products-holder.view-list .product-description {
		padding-top: 25px;
	}
	.products-holder.view-list .product-price {
		display: block;
	}
	.products-holder .rating {
		float: right;
	}
	.products-holder .product-price {
		float: left;
	}
	.products-holder.view-list .product-info:not(:last-child) {
		margin-bottom: 0px;
	}
	.products-holder.view-list .product-price:not(:last-child) {
		margin-bottom: 8px;
	}
	.products-holder.view-list .product-name:not(:last-child) {
		margin-bottom: 8px;
	}
	/* ------------------ Shopping cart ---------------- */

	.image-preview {
		position: relative;
		display: inline-block;
	}
	.image-preview .label {
		top: 40px;
		z-index: 5;
	}
	.open-modal {
		position: absolute;
		right: 20px;
		bottom: 20px;
		z-index: 5;
		font-size: 20px;
		color: #2a2c32;
	}
	.zoomContainer {
		z-index: 4 !important;
	}
	.product-thumbs.owl-carousel .owl-item img {
		opacity: 0.5;
		width: auto;
	}
	.product-thumbs .active:not(.owl-item) img {
		opacity: 1;
	}
	.product-thumbs .owl-nav > * {
		font-size: 20px;
	}
	.product-thumbs .owl-nav .owl-prev {
		left: -15px;
	}
	.product-thumbs .owl-nav .owl-next {
		right: -15px;
	}
	.share-wrap .share-title {
		color: #777;
		font-weight: 300;
		margin-right: 20px;
		letter-spacing: 0.3px;
		display: inline-block;
	}
	.share-wrap .social-icons {
		display: inline-block;
	}
	/* -----------------------------------

	  12. Sidebar

	------------------------------------- */

	#sidebar .widget:not(:last-child) {
		margin-bottom: 60px;
	}
	.widget:not(:last-child) {
		margin-bottom: 30px;
	}
	.widget-title:not(:last-child) {
		margin-bottom: 30px;
	}
	.widget .widget-title {
		padding: 14px 20px 13px;
		text-transform: uppercase;
		background: #f7f7f7;
		color: #222;
	}
	.widget .contact-info > li {
		display: block;
	}
	#sidebar .widget .entry-attachment .entry-body .entry-title {
		font-size: 16px;
		font-weight: normal;
	}
	.widget .lineform {
		padding-top: 5px;
	}
	/* ----------------- Banners---------------- */

	#sidebar .widget .banners .banner-inner {
		font-size: 18px;
		padding: 30px 25px 40px;
	}
	/* ----------------- Search Widget ---------------- */

	.widget.widget-searchform {
		padding: 0;
		background: transparent;
	}
	/* ----------------- Categories Widget ---------------- */

	.widget-categories ul {
		font-size: 20px;
		line-height: 26px;
	}
	/* ----------------- Tags Widget ---------------- */

	/* .tagcloud {
		overflow: hidden;
		margin: -4px -2px 0;
	}
	.tagcloud a {
		color: #222;
		font-size: 14px;
		line-height: 30px;
		white-space: nowrap;
		padding: 0 10px;
		display: block;
		float: left;
		font-weight: 300;
		background: #e3e3e3;
		border-radius: 3px;
		margin: 4px 2px 0;
	}
	.tagcloud a:hover {
		background: #14468c;
		color: #fff;
	}
	.tagcloud span {
		float: left;
		display: block;
		font-weight: 300;
		margin: 5px 10px 0 0;
		color: #8c8c8c;
	}
	.tagcloud:not(:last-child) {
		margin-bottom: 15px;
	} */
	/* ----------------- Entry Widget ---------------- */

	#sidebar .widget .entry-box.entry-small .entry:not(:first-child) {
		margin-top: 30px;
	}
	.widget .entry-box.entry-small .entry-body .entry-meta {
		font-size: 13px;
	}
	.widget .entry-box.entry-small .entry:not(:first-child) {
		margin-top: 20px;
	}
	.widget .entry-box.entry-small .entry {
		margin: 0 -10px -20px;
	}
	.widget .entry-box.entry-small .thumbnail-attachment,  .widget .entry-box.entry-small .entry-body {
		padding: 0 10px 20px;
	}
	.widget .entry-box.entry-small .entry-body {
		/* padding-top: 5px;*/
		margin-bottom: 20px;
	}
	.widget .entry-box.entry-small .entry-body .entry-meta > a {
		color: #00a1d9;
	}
	.widget .entry-box.entry-small .thumbnail-attachment,  .widget .entry-box.entry-small .entry-body {
		/*width: auto;
		max-width: 50%;*/
		width: 100%;
	}
	/* ----------------- Product Widget ---------------- */

	/*----------- Comment --------------*/

	.widget .comment-item {
		font-size: 18px;
		color: #7b8285;
	}
	.widget .comment-item .author,  .widget .comment-item .author:hover {
		color: #038ed3;
	}
	.widget .comment-item a:hover {
		text-decoration: underline;
		color: #2a2c32;
	}
	/*----------- Instagram --------------*/

	.widget .instagram-feed {
		overflow: hidden;
		margin: 0 -5px -10px;
	}
	.widget .instagram-feed .nv-instafeed-item {
		width: 50%;
		display: inline-block;
		padding: 0 5px 10px;
	}
	/* -----------------------------------13. Footer----------------- */

	.footer {color: #babcbe;}
	.footer .ft_bg .row{ flex-wrap: inherit;}
	.footer .main-footer {
		background: #404040;
		padding-top: 100px;
		background-size: cover;
		background-attachment: fixed;
		background-position: center center;
	}
	.footer .copyright {
		text-align: center;
		padding: 0px 0 60px;
		font-size: 14px;
		letter-spacing: 0.5px;
	}
	[class*="footer"] .widget {
		padding: 0;
		background: transparent;
	}
	[class*="footer"] .widget:not(:last-child) {
		margin-bottom: 60px;
	}
	[class*="footer"] .copyright p:not(:last-child) {
		margin-bottom: 0;
	}
	[class*="footer"] .widget .widget-title {
		color: #fff;
		text-transform: uppercase;
		font-weight: 500;
		padding: 0;
		background: none;
	}

	/* ----------------- Footer style-2 ---------------- */

	.footer.style-2 {
		background: #102739;
	}
	.footer.style-2 .info-links > li > a {
		font-weight: 400;
		font-size: 16px;
	}
	.footer.style-2 #newsletter.style-2 input:not([type="submit"]) {
		min-width: 295px;
	}
	.footer.style-2 .copyright {
		padding: 60px 0 50px;
	}
	.footer.style-2 .widge-holder {
		margin: 0 -15px -30px;
	}
	.footer.style-2 .widge-holder .widget {
		padding: 0 15px 30px;
	}
	.footer.style-2 .widge-holder .widget:not(:last-child) {
		margin-bottom: 0;
	}
	/* ----------------- Footer style-3 ---------------- */