@viewport {
	user-zoom: fixed;
	}
	*, *:after, *:before {
		margin: 0;
		padding: 0;
		border: none;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		outline: 0;
		font-size: 100%;
		vertical-align: baseline;
		background: transparent;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
	iframe {
		width: 100%;
	}
	b, strong {
		font-weight: 600 !important;
	}
	a {
		text-decoration: none;
	}
	a:hover {
		text-decoration: none;
	}
	a:hover, a:focus, a:visited {
		outline: none;
		text-decoration: none;
	}
	ul, ol {
		list-style: none;
	}
	q {
		quotes: none;
	}
	table th, table td {
		padding: 0;
		border: none;
		border-collapse: collapse;
		border-spacing: 0;
	}
	.table-bordered thead tr th{vertical-align: top;}

	img {
		vertical-align: top;
		max-width: 100%;
	}
	embed {
		vertical-align: top;
	}
	 button -moz-focus-inner {
	border: 0;
	}
	html {
		overflow-x: hidden;
	}
	html, body {
		height: 100%;
	}
	/* -----------------------------------2. Global------------------------------------- */

	body {
		font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;
		font-size:14px;
		color: #404040;
		font-weight: 400;
		position: relative;
		background: #fbfbfb;
		line-height:1.4 !important;
	}
	.loader {
		position: fixed;
		width: 100%;
		height: 100%;
		background: #fff;
		top: 0;
		left: 0;
		z-index: 99999;
	}
	.wrapper-container {
		position: relative;
		background: #fff;
	}
	 selection {
		background: #404040;
		color: #fff;
	}

	 -moz-selection {
	 background: #404040;
	 color: #fff;
	}

	 -o-selection {
	 background: #404040;
	 color: #fff;
	}

	 -ms-selection {
	 background: #404040;
	 color: #fff;
	}
	.selected-type-1 {
		background: #04518c;
		color: #fff;
	}
	img {
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-o-user-select: none;
		user-select: none;
	}
	/* .clearfix:after, .row:after {
		clear: both;
		display: block;
		visibility: hidden;
		height: 0;
		content: ".";
	} */
	 input -webkit-input-placeholder, textarea -webkit-input-placeholder {
	 font-weight: 300;
	 color: #777777;
	 -webkit-transition:text-indent .5s ease, color .5s ease;
	}
	 input -moz-placeholder, textarea -moz-placeholder {
	 font-weight: 300;
	 color: #777777;
	 opacity: 1;
	 -webkit-transition:text-indent .5s ease, color .5s ease;
	}
	 [placeholder]:focus -webkit-input-placeholder {
	 text-indent:10em;
	 color:transparent;
	}
	 [placeholder]:focus -webkit-textarea-placeholder {
	 text-indent:10em;
	 color:transparent;
	}
	/* ------------------------------------------------------

	  3. General classes

	------------------------------------------------------ */

	.full-width {
		width: 100%!important;
	}
	.wrapper {
		overflow: hidden;
	}
	.relative {
		position: relative;
	}
	.align-left {
		text-align: left;
	}
	.align-center {
		text-align: center;
	}
	.align-right {
		text-align: right;
	}
	.f-left {
		float: left;
	}
	.f-right {
		float: right;
	}
	.hide {
		display: none;
	}
	.show {
		display: block;
	}
	.invisible {
		visibility: hidden;
	}
	img[class*="align"] {
		margin-bottom: 15px;
		max-width: 50%;
		border-radius: 3px 3px 3px 3px;
		-moz-border-radius: 3px 3px 3px 3px;
		-webkit-border-radius: 3px 3px 3px 3px;
	}
	img.alignleft {
		float: left;
		margin-right: 30px;
	}
	img.alignright {
		float: right;
		margin-left: 30px;
	}
	.page-content-wrap {
		padding: 80px 0;
	}
	 [class*="page-section"] {
	 background-size: cover;
	 background-position: center center;
	}
	 [class*="page-section"] {
	padding: 90px 0;
	}
	[class*="page-section"].no-space {
		padding: 0;
	}
	[class*="page-section"].type2 {
		padding: 60px 0;
	}
	.page-section-bg {
		background: #f2f2f2;
	}
	.page-section-bg2 {
		background: #404040;
		/* background-image: url("/assets/images/quotes-bg.jpg"); */
		background-repeat: no-repeat;
		background-size: 50% 100%;
		min-height: 400px;
	}
	.page-section-bg2 h4 {
		color: #cabc8b;
	}
	.page-section-bg2 .section-title, .page-section-bg3 .section-title {
		color: #fff;
	}
	.page-section-bg2, .page-section-bg3 {
		color: #eee;
	}
	.content-element:not(:last-child) {
		margin-bottom: 80px;
	}
	.content-element1:not(:last-child) {
		margin-bottom: 10px;
	}
	.content-element2:not(:last-child) {
		margin-bottom: 20px;
	}
	.content-element3:not(:last-child) {
		margin-bottom: 30px;
	}
	.content-element4:not(:last-child) {
		margin-bottom: 40px;
	}
	.content-element5:not(:last-child) {
		margin-bottom: 50px;
	}
	.content-element6:not(:last-child) {
		margin-bottom: 60px;
	}
	.extra {
		width: 100%;
	}
	 [class*="flex-row"] {
	 display: -webkit-flex;
	 display: -moz-flex;
	 display: -ms-flex;
	 display: -o-flex;
	 display: flex;
	 -webkit-flex-flow: row wrap;
	 flex-flow: row wrap;
	}
	[class*="flex-row"]:after {
		display: none;
	}
	 [class*="flex-row"] > * {
	 float: none;
	}
	.flex-justify {
		justify-content: space-between;
	}
	.flex-center {
		align-items: center;
	}
	.responsive-iframe {
		position: relative;
		z-index: 1;
		height: 0px;
		padding-bottom: 56.2%;
	}
	.responsive-iframe > iframe {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
		width: 100%;
		height: 100%;
	}
	.responsive-iframe.fix-size > iframe {
		top: -45%;
		height: 180%!important;
	}
	/* Flex box collumns */

	.fx-col-2 > * {
		width: 50%;
	}
	.fx-col-3 > * {
		width: 33.33333%;
	}
	.fx-col-4 > * {
		width: 25%;
	}
	.fx-col-5 > * {
		width: 20%;
	}
	.fx-col-6 > * {
		width: 16.66666%;
	}
	/* -----------------------------------

	  4. Typography

	------------------------------------- */

	h1, h2, h3, h4, h5, h6 {
		color: #fd8411;
		line-height: 1.3em;
		font-weight: 500;/*letter-spacing: 0.3px;*/
	}
	h1.grey, h2.grey, h3.grey, h4.grey, h5.grey, h6.grey {
		color: #404040 !important;
	}
	h1.gold, h2.gold, h3.gold, h4.gold, h5.gold, h6.gold {
		color: #cabc8b !important;
	}
	h1 {
		letter-spacing: 0.1px;
		font-size: 48px;
	}
	h2 {font-size: 22px; font-weight:600; margin:10px 0;}
    h3{font-size: 22px; margin-bottom:10px;}
    p {font-weight: 400; padding: 0; margin-bottom:1rem;}


	p:not(:last-child) {
		margin-bottom: 10px;
	}
	p + .btn {
		margin-top: 5px;
	}
	.fw-medium {
		font-weight: 600;
	}
	a {
		margin: 0;
		padding: 0;
		font-size: 100%;
		outline: none;
		text-decoration: none;
		background: transparent;
		vertical-align: baseline;
	}
	a, a > * {
		text-decoration: none;
		outline: none !important;
	}
	a {
		color: #222;
	}
	a, button {
		-webkit-transition: all .4s ease;
		transition: all .4s ease;
	}
	a.link-text {
		color: #007bff;
		text-decoration: underline;;
	}
	a.link-text:hover {
		text-decoration: underline;
	}
	a.link-text2 {
		color: #00a1d9;
	}
	[class^="icon-"]:before, [class*="icon-"]:before {
		width: auto;
		margin: 0;
		padding: 0;
	}
	h1.section-title {
		line-height: 52px;
		font-size: 36px;
		font-weight: bold;
	}
	.section-title:not(:last-child) {
		margin-bottom: 20px;
	}
	.section-sub-title {
		text-transform: uppercase;
		color: #404040;
		font-weight: 300;
		letter-spacing: 0.8px;
	}
	.section-sub-title:not(:last-child) {
		margin-bottom: 5px;
	}
	.other-title {
		font-weight: 500;
	}
	.with-bg-img:not(.style-2) .section-title, [class*="bg-full"] .section-title {
		color: #cabc8b;
	}
	.with-bg-img .section-sub-title, [class*="bg-full"] .section-sub-title {
		color: #eee;
	}
	.text-size-medium {
		font-size: 18px;
		line-height: 25px;
		font-weight: 400;
	}
	.text-size-small {
		font-size: 14px;
		line-height: 24px;
	}
	.text-size-medium + .btn {
		margin-top: 15px;
	}
	/* -----------------------------------5. Header------------------------------------- */
	.header.clone-fixed .top-header .header.clone-fixed .pre-header { display: none;}
	.header.clone-fixed { position: fixed; z-index: 99; transition: 0.5s top cubic-bezier(.3, .73, .3, .74);}
	.header {	position: relative;	top: 0;	z-index: 9;	width: 100%;	/*background: #fff;*/}
	.header > * {	-webkit-transition: all .5s ease;	-o-transition: all .5s ease;	transition: all .5s ease;}
	.header .pre-header {	padding: 7px 0;	border-bottom: 1px solid #eee;	font-size: 14px;	color: #fff;	font-weight: normal;	background: #fd8411;}
	.header .pre-header p:not(:last-child) {
		margin-bottom: 0;
	}
	.header .top-header .head-info {
		margin: 0 -30px -10px;
	}
	.header .top-header .head-info > * {
		display: inline-block;
		vertical-align: middle;
		margin: 0 30px 10px;
	}
	.header .top-header .head-info > .contact-info li {
		padding: 0;
	}
	.header .pre-header .contact-info:not(.v-type) {
		margin: 0 -20px 0;
		display: block;
	}
	.header .pre-header .contact-info:not(.v-type) > li {
		padding: 0 20px 0;
		display: inline-block;
	}
	/* header-2 */

	.header.style-2 .pre-header {
		background: #00a1d9;
		color: #fff;
	}
	.header.style-2 .pre-header p {
		font-weight: 500;
	}
	.header.style-2 .pre-header .menu-list > li {
		font-size: 14px;
	}
	.header.style-2 .menu-holder {
		background: #e6eef4;
		background: -moz-linear-gradient(left, #e6eef4 0%, #edfbf9 100%);
		background: -webkit-linear-gradient(left, #e6eef4 0%, #edfbf9 100%);
		background: linear-gradient(to right, #e6eef4 0%, #edfbf9 100%);
	 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6eef4', endColorstr='#edfbf9', GradientType=1 );
	}
	.header.style-2 .pre-header .menu-list > li a {
		color: #fff;
	}
	.header.style-2 .pre-header .menu-list > li:not(:last-child):after {
		background: #fff;
	}
	.header.style-2 .nav-item .btn:not(:only-child) {
		margin-left: 30px;
	}
	.header.style-2 .menu-holder {
		padding: 30px 0;
	}
	 .header.style-2.clone-fixed:not(.type-2) .menu-holder {
	 opacity: 0;
	 overflow: hidden;
	 display: none;
	}
	 .header.style-2.clone-fixed.slideDown:not(.type-2) .menu-holder {
	 opacity: 1;
	 overflow: visible;
	 display: block;
	}
	.header.style-3 .clone-fixed {
		background: #003056;
	}
	.header.style-3 .pre-header {
		background: #fafafa;
		border-bottom: 1px solid #eee;
	}
	.header.style-3 .menu-holder {
		padding: 0;
		background: none;
	}
	.header.style-3 .top-header {
		padding-bottom: 0;
	}
	.header.style-3 .menu-holder .menu-wrap {
		background: #003056;
		padding: 10px;
		border-radius: 3px;
	}
	.header.style-3 .main-navigation > ul > li.current > a,  .header.style-3 .main-navigation > ul > li:hover > a {
		background: transparent;
		color: #47d9bf;
	}
	.header.style-3 .main-navigation > ul > li > a {
		background: transparent;
		color: #fff;
	}
	.header.style-3 button.search-button,  .header.style-3 .shop-cart .sc-cart-btn {
		color: #fff;
	}
	.header.style-3 .search-holder .btn,  .header.style-3 .clone-fixed .search-holder .search-button {
		display: inline-block;
	}
	.header.style-3:not(.clone-fixed) .menu-holder {
		-moz-transform: translateY(50%);
		-webkit-transform: translateY(50%);
		-o-transform: translateY(50%);
		-ms-transform: translateY(50%);
		transform: translateY(50%);
	}
	/* Lang button */

	.lang-button {
		position: relative;
	}
	.lang-button > a:after {
		content: "\e93a";
		font-size: 8px;
		font-weight: bold;
		font-family: 'Linearicons';
		display: inline-block;
		margin-left: 10px;
		vertical-align: middle;
	}
	.lang-button .dropdown-list {
		padding-top: 6px;
	}
	.lang-button .dropdown-list > li > a {
		display: block;
		padding: 5px 20px;
		background: #f2f3f6;
		text-align: left;
	}
	.lang-button .dropdown-list > li:first-child > a {
		border-top-left-radius: 3px;
		border-top-right-radius: 3px;
	}
	.lang-button .dropdown-list > li:hover > a {
		background: #fff;
	}
	.lang-button:hover .dropdown-list {
		visibility: visible;
		opacity: 1;
	}
	.dropdown-list,  .dropdown-window {
		position: absolute;
		top: 100%;
		right: 0;
		padding: 0;
		min-width: 100px;
		opacity: 0;
		visibility: hidden;
		z-index: 999;
		border-radius: 3px;
		overflow: hidden;
		-webkit-transition: all .4s ease;
		transition: all .4s ease;
	}
	.dropdown-window {
		-webkit-transform: scale3d(.85, .85, .85);
		-ms-transform: scale3d(.85, .85, .85);
		transform: scale3d(.85, .85, .85);
	}
	.dropdown-window.opened {
		opacity: 1;
		visibility: visible;
		-webkit-transform: scale3d(1, 1, 1);
		-ms-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
	.header .top-header {padding: 20px 0;}
	.logo {
		display: inline-block;
	}
	/* Main Navigation */

	#wrapper {
		overflow: hidden;
		-webkit-transition: all .5s ease;
		-o-transition: all .5s ease;
		transition: all .5s ease;
	}
	.menu-holder {
		padding: 4px 0;
		background: #10a44a;
	}

	.main-navigation {
		display: inline-block;
		vertical-align: middle;
		text-align: left;
	}

	.main-navigation > ul > li {
		display: inline-block;
		position: relative;
		margin: 0 1px;
		cursor: pointer;
		font-size: 16px;
	}

	.main-navigation > ul > li > a, .userProfile > li.dropdown > a {
		color: #fff;
		font-weight: bold;
		text-transform: uppercase;
		display: block;
		position: relative;
		padding: 5px 10px;
		letter-spacing: 0.8px;
		border-radius: 3px;
		/*pointer-events:none;*/
		}
	.main-navigation .subMenu3.dropdown > a{pointer-events:none;}
	.main-navigation > ul > li > a.active {
		background: #fd8411;
		margin-right: 10px;
		pointer-events:inherit;
	}
	.main-navigation > ul > li.current > a,  .main-navigation > ul > li:hover > a {
		color: #fff;
		background: #fd8411;
	}
	.sub-menu-wrap ul li {
		position: relative;
	}
	.sub-menu-wrap ul li:hover > a,  .sub-menu-wrap ul li.current > a {
		color: #ff7e41;
		background: #f2f2f2;
	}
	.main-navigation > ul > li.dropdown > a:after, .userProfile > li.dropdown > a:after {
		font-family: 'fontello';
		content: '\f107';
		margin-left: 10px;
		font-size: 14px;
		display: inline-block;
		vertical-align: top;
	}
	.sub-menu-wrap {
		position: absolute;
		left: 0;
		top: 100%;
		min-width: 220px;
		background: #fff;
		padding: 0;
		border-radius: 3px;
		display:none;
		z-index: 999;
		margin-top: 4px;
		-webkit-transform: translate3d(-15px, 15px, 0);
		-moz-transform: translate3d(-15px, 15px, 0);
		-o-transform: translate3d(-15px, 15px, 0);
		-ms-transform: translate3d(-15px, 15px, 0);
		transform: translate3d(-15px, 15px, 0);
		-webkit-box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.06);
		-moz-box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.06);
		box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.06);
	}
	.sub-menu-wrap:before {
		content: '';
		bottom: 100%;
		width: 100%;
		left: 0;
		height: 4px;
		display: block;
		position: absolute;
		background: transparent;
	}
	.sub-menu-wrap .sub-menu-wrap.sub-menu-inner {
		left: 100%;
		background: #fff;
		top: 0;
		margin-left: 4px;
		margin-top: -15px;
	}
	.sub-menu-wrap .sub-menu-wrap.sub-menu-inner:before {
		right: 100%;
		left: auto;
		width: 4px;
		top: 0;
		bottom: auto;
		height: 100%;
	}
	.userProfile > li.dropdown{cursor: pointer;}
	.userProfile{position: absolute; right: -10px; top: 0;}
	.userProfile .sub-menu-wrap{min-width: 200px; }
	.main-navigation > ul > li:hover > .sub-menu-wrap:not(.sub-menu-inner),  .sub-menu-wrap ul li:hover .sub-menu-wrap.sub-menu-inner, .userProfile > li.dropdown:hover .sub-menu-wrap{
		-webkit-transform: translate3d(0, 0, 0);
		-moz-transform: translate3d(0, 0, 0);
		-o-transform: translate3d(0, 0, 0);
		-ms-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
		display:block;
	}
	.sub-menu-wrap ul li a {
		display: block;
		white-space: pre;
		position: relative;
		font-size: 16px;
		line-height: 20px;
		padding: 6px 12px;
		color: #2a2c32;
		font-weight: normal;
	}
	.sub-menu-wrap ul li.sub > a:after {
		font-family: 'fontello';
		content: '\f105';
		position: absolute;
		right: 20px;
	}
	.responsive-nav-button {
		display: none;
		text-align: center;
		color: #222;
		font-size: 30px;
		z-index: 2;
		border-radius: 0;
		font-weight: normal;
		background: transparent;
		-webkit-transition: all .5s ease;
		-o-transition: all .5s ease;
		transition: all .5s ease;
	}
	.responsive-nav-button:hover {
		color: #04518c;
	}
	.responsive-nav-button:before {
		font-family: 'linearicons';
		content: "\e92b";
	}
	.header.style-3 .responsive-nav-button {
		color: #fff;
	}
	.header.style-3 .responsive-nav-button:hover {
		color: #ffdb3e;
	}
	#wrapper #advanced-menu-hide {
		visibility: hidden;
		pointer-events: none;
		-webkit-transform: translateX(200%);
		transform: translateX(200%);
		-webkit-transition: all .5s ease;
		-o-transition: all .5s ease;
		transition: all .5s ease;
	}
	.menu-button-wrap {
		text-align: right;
		padding: 10px 0;
	}
	.mobile-advanced {
		display: none;
	}
	.menu-holder .nav-item {
		position: relative;
	}
	.menu-holder .nav-item .btn{
		font-size:16px;
	}
	.menu-holder .nav-item .btn-primary{font-size:16px;}
	.main-navigation > ul > li.has-megamenu {
		position: static;
	}
	.sub-menu-wrap.mega-menu {
		left: 0;
		vertical-align: top;
		padding: 0;
		min-width: auto;
		width: 100%;
		overflow: hidden;
		z-index: 998 !important;
	}
	.sub-menu-wrap.mega-menu .mega-submenu {
		padding: 30px 0 20px;
	}
	.sub-menu-wrap.mega-menu .mega-submenu:nth-child(1) {
		width: 25%;
	}
	.sub-menu-wrap.mega-menu .mega-submenu:nth-child(2) {
		width: 30%;
	}
	.sub-menu-wrap.mega-menu .mega-submenu:nth-child(3) {
		width: 23%;
	}
	.sub-menu-wrap.mega-menu .mega-submenu:nth-child(4) {
		width: 22%;
	}
	[class*="header"]:not(.style-3) .sub-menu-wrap.mega-menu {
		margin-left: -75px;
		width: calc(100% + 150px);
	}
	.sub-menu-wrap.mega-menu .mega-submenu:nth-child(odd) {
		background: #fafafa;
	}
	.mega-menu > * .mega-title {
		color: #ff7e41;
		text-transform: uppercase;
		padding: 0 25px;
	}
	.mega-menu > * .mega-title a {
		color: #ff7e41;
		text-decoration: none;
		border-bottom: 1px solid transparent;
	}
	.mega-menu > * .mega-title a:hover {
		border-bottom-color: inherit;
		color: #ff7e41;
	}
	.mega-menu > * .mega-title:not(:last-child) {
		margin-bottom: 15px;
	}
	.mega-menu > * .mega-title span {
		margin-right: 10px;
		display: inline-block;
		font-size: 30px;
		vertical-align: 0px;
	}
	.mega-menu > * .mega-title span img {
		width: auto;
		height: 25px;
	}
	/* Search and Shopping cart buttons */

	.search-holder, .shop-cart {
		display: inline-block;
		vertical-align: middle;
	}
	.search-holder .btn {
		margin-left: 4px;
	}
	.header:not(.style-3) .search-holder .btn, .header.clone-fixed:not(.style-3) .search-holder .search-button {
		display: none;
	}
	.header.clone-fixed:not(.style-3) .search-holder .btn {
		display: block;
	}
	button.search-button, .shop-cart .sc-cart-btn {
		font-family: 'Linearicons';
		font-size: 20px;
		display: inline-block;
		vertical-align: middle;
		line-height: 25px;
		background: none;
		color: #222;
	}
	button.search-button:hover, .shop-cart .sc-cart-btn:hover, .shop-cart .sc-cart-btn.opened {
		color: #2a2c32;
	}
	button.search-button:before {
		content: "\e922";
	}
	.searchform-wrap .vc-child div input {
		background-color: #fff;
		border: none;
		color: #222;
	}
	.close-search-form {
		background-color: transparent;
		position: absolute;
		font-family: 'linearicons';
		left: 100%;
		margin-left: 20px;
		font-size: 20px;
		color: #f4f4f5;
		z-index: 99;
		font-weight: normal;
		display: inline-block;
		top: 50%;
		margin-top: -13px;
		cursor: pointer;
		-webkit-transition: all .3s ease;
		-o-transition: all .3s ease;
		transition: all .3s ease;
	}
	.close-search-form:hover {
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		transform: rotate(360deg);
		-webkit-transition: all .3s ease;
		-o-transition: all .3s ease;
		transition: all .3s ease;
	}
	.close-search-form:before {
		content: '\e92a';
	}
	.searchform-wrap {
		width: 100%;
		height: 100%;
		position: fixed;
		border-bottom: none;
		display: block;
		background: rgba(8,20,30,0.8);
		text-align: center;
		z-index: 201;
		-webkit-transition: all .5s ease;
		transition: all .5s ease;
		opacity: 0;
		visibility: hidden;
	}
	.searchform-wrap.opened {
		opacity: 1;
		visibility: visible;
	}
	.searchform-wrap .vc-child {
		width: 710px;
		display: inline-block;
		position: relative;
		margin-top: 22%;
	}
	.searchform-wrap div {
		position: relative;
	}
	.searchform-wrap div input[type="submit"] {
		float: right;
		margin-left: 10px;
	}
	.searchform-wrap div input:not([type="submit"]):focus,  .searchform-wrap div textarea:focus {
		border-color: transparent;
		box-shadow: none;
	}
	.header button.search-button,  .shop-cart .sc-cart-btn {
		margin: 0 20px;
	}
	/* ------------------------------------------------------

		6. Content Elements

	------------------------------------------------------ */

	#content {
		position: relative;
	}
	/* Brend box */

	/* Backgrounds */

	.parallax-section {
		background-attachment: fixed;
		background-repeat: no-repeat;
		background-position: center center;
		height: 100%;
		width: 100%;
		-webkit-background-size: 100%;
		-moz-background-size: 100%;
		-o-background-size: 100%;
		background-size: 100%;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
	.half-bg-col {
		position: relative;
	}
	.col-bg {
		position: absolute;
		top: 0;
		left: 0;
		background-repeat: no-repeat;
		height: 100%;
		width: 100%;
		background-position: center center;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
	 [class*="img-col"] {
	 position: absolute;
	 top: 0;
	 width: 50%;
	 height: 100%;
	}
	.img-col-left {
		left: 0;
	}
	.img-col-right {
		right: 0;
	}
	.half-bg-col .row {
		margin: 0 -45px;
	}
	.half-bg-col .row [class*="col-"] {
		padding: 0 45px;
	}
	.img-full-col > .half-col-img {
		background-repeat: no-repeat!important;
		background-position: center center!important;
		height: 100%;
		width: 100%;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover!important;
	}
	.half-bg-col .event-info .event-info-item,  .half-bg-col .event-info .event-info-item i {
		font-size: 20px;
		color: #fff;
	}
	.bg-full-right {
		position: relative;
		height: 100%;
		z-index: 1;
		padding-left: 25px;
	}
	.bg-full-right > span {
		left: -80px!important;
		z-index: 0!important;
	}
	.bg-full-right:after {
		content: '';
		background: #00a1d9;
		position: absolute;
		right: -2000px;
		top: 0;
		bottom: 0;
		left: -15px;
		z-index: -1;
	}
	/* Breadcrumbs */

	.breadcrumbs-wrap {
		padding: 52px 0;
		background-size: cover;
	}
	.breadcrumbs-wrap .page-title:not(:last-child) {
		margin-bottom: 5px;
	}
	.breadcrumbs-wrap .page-title {
		color: #fff;
		letter-spacing: 0.2px;
	}
	.breadcrumbs-wrap .breadcrumbs {
		color: #eee;
	}
	.breadcrumbs-wrap .breadcrumbs > li {
		display: inline-block;
		font-weight: 400;
		text-transform: uppercase;
		letter-spacing: 0.8px;
	}
	.breadcrumbs-wrap .breadcrumbs > li > a {
		color: #eee;
	}
	.breadcrumbs-wrap .breadcrumbs > li > a:hover {
		text-decoration: underline;
	}
	.breadcrumbs > li:not(:first-child):before {
		content: "/";
		display: inline-block;
		vertical-align: middle;
		color: #eee;
		font-weight: 400;
		margin-right: 5px;
	}

	.breadcrumbs-wrap.style-2 {
		background-position: center center;
		background-size: cover;
		padding: 0;
	}
	.breadcrumbs-wrap.style-2 .overlay {
		height: 100%;
		padding: 52px 0;
		background: rgba(230,0,40,0.8);
		background: -moz-linear-gradient(left, rgba(230,0,40,0.8) 0%, rgba(244,92,67,0.8) 100%);
		background: -webkit-gradient(left top, right top, color-stop(0%, rgba(230,0,40,0.8)), color-stop(100%, rgba(244,92,67,0.8)));
		background: -webkit-linear-gradient(left, rgba(230,0,40,0.8) 0%, rgba(244,92,67,0.8) 100%);
		background: -o-linear-gradient(left, rgba(230,0,40,0.8) 0%, rgba(244,92,67,0.8) 100%);
		background: -ms-linear-gradient(left, rgba(230,0,40,0.8) 0%, rgba(244,92,67,0.8) 100%);
		background: linear-gradient(to right, rgba(230,0,40,0.8) 0%, rgba(244,92,67,0.8) 100%);
	 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7e41', endColorstr='#f45c43', GradientType=1 );
	}
	.breadcrumbs-wrap.style-3 {
		padding-top: 90px;
		background: #00a1d9;
		text-align: center;
	}
	.breadcrumbs-wrap.style-4 {
		padding: 0;
		text-align: left;
	}
	.breadcrumbs-wrap.style-4 .breadcrumbs {
		color: #999;
	}
	.breadcrumbs-wrap.style-4 .breadcrumbs > li > a {
		color: #999;
	}
	/* Cookies */

	.cookies {
		background: rgba(42,44,50,0.8);
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 10;
		padding: 25px 0;
		color: #fff;
	}
	.cookies span:before {
		content: '\e955';
		font-family: 'Linearicons';
		font-size: 24px;
		display: inline-block;
		margin-right: 10px;
	}
	.cookies .btn {
		margin: 0 2px;
	}
	/* Banners */

	.banners {
		position: relative;
		height: 100%;
	}
	.banners [class*="bg-col-"] {
		position: absolute;
		top: 0;
		width: 50%;
		height: 100%;
		background-size: cover!important;
		background-position: center center;
	}
	.banners .bg-col-left {
		left: 0;
		background-repeat: no-repeat;
	}
	.banners .bg-col-right {
		right: 0;
		background-repeat: no-repeat;
	}
	.banners .banner-inner {
		display: table;
		padding: 50px 0;
		color: #eee;
		font-size: 24px;
		width: 100%;
		height: 100%;
	}
	.banners .row > *:first-child .banner-inner {
		padding-right: 25px;
	}
	.banners .row > *:last-child .banner-inner {
		padding-left: 25px;
	}
	.banners:not(.type-2) .banner-inner > * {
		display: table-cell;
		vertical-align: middle;
		padding-left: 15px;
	}
	.banners .banner-inner > *.right-side {
		text-align: right;
	}
	.banners .banner-inner .banner-title {
		color: #cabc8b;
		font-weight: 500;
		margin-bottom: 5px;
	}
	.banners .banner-inner p {
		font-size: 22px;
	}
	.banners.type-2 .banner-inner {
		padding: 60px 25px;
		text-align: center;
		background-position: center center;
		background-size: cover;
		background-repeat: no-repeat;
		border-radius: 3px;
	}
	.banners.type-2 .banner-inner .banner-title:not(:last-child) {
		margin-bottom: 10px;
	}
	.banners.type-2 .banner-inner p:not(:last-child) {
		margin-bottom: 20px;
	}

	/* Revolution slider */

	.tparrows {
		background: none;
		width: auto;
		height: auto;
	}
	.tparrows:before {
		font-family: 'Linearicons';
		font-size: 40px;
		color: #fff;
		opacity: 0.3;
		-webkit-transition: opacity .35s ease;
		-o-transition: opacity .35s ease;
		transition: opacity .35s ease;
	}
	.tparrows:hover {
		background: none;
	}
	.tparrows:hover:before {
		opacity: 1;
		background: none;
	}
	.tparrows.tp-leftarrow:before {
		content: '\e93b';
	}
	.tparrows.tp-rightarrow:before {
		content: '\e93c';
	}
	.tp-bullet, .tp-bullet.selected, .tp-bullet:hover {
		background: none;
		height: auto;
		width: auto;
	}
	.circle-bullet, .owl-dots .owl-dot {
		display: block;
		background: #fff;
		width: 10px;
		height: 4px;
		opacity: 0.5;
		-webkit-transition: all .35s ease;
		transition: all .35s ease;
	}
	.tp-bullet.selected .circle-bullet, .owl-dots .owl-dot.active {
		opacity: 1;
	}
	.testimonial-holder.style-2.with-bg-img .owl-dots .owl-dot, .owl-carousel.dot-style-2 .owl-dots .owl-dot {
		background: #222;
	}
	 [class*="scaption"] {
	 font-size: 18px;
	 line-height: 24px;
	}
	 [class*="scaption-dark"] {
	 color: #003056;
	}
	 [class*="scaption-white"] {
	 color: #fff;
	}
	 [class*="scaption-beige"] {
	 color: #cabc8b;
	}

	 [class*="scaption"][class*="-large"] {
	 font-size: 60px;
	 line-height: 54px;
	 letter-spacing: -0.1px;
	 font-weight: 500;
	 text-shadow: 1px 1px 15px rgba(0, 0, 0, 0.5);
	}
	 [class*="scaption"][class*="-large2"] {
	 font-size: 72px;
	 letter-spacing: 0;
	 font-weight: 200;
	}
	 [class*="scaption"][class*="-medium"] {
	 font-size: 40px;
	 line-height: 46px;
	 letter-spacing: 0;
	 font-weight: 400;
	 text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
	}
	 [class*="scaption"][class*="-medium2"] {
	 font-size: 48px;
	 letter-spacing: 0.1px;
	 font-weight: 400;
	}
	 [class*="scaption"][class*="-small"] {
	  /*color: #222;*/
	  font-size: 18px;
	 line-height: 30px;
	 font-weight: 400;
	 letter-spacing: 0;
	}
	.rev-slider-wrapper .icons-box {
		z-index: 21;
		position: relative;
	}
	.tp-caption .btn {
		/*transition: all .4s ease!important;*/
		letter-spacing: 0.5px!important;
	}
	/* Coming soon */

	.coming-soon {
		height: 100%;
		color: #fff;
		text-align: center;
		position: relative;
		background: #00a1d9;
		background: -moz-linear-gradient(left, #00a1d9 0%, #32c8c7 100%);
		background: -webkit-linear-gradient(left, #00a1d9 0%, #32c8c7 100%);
		background: linear-gradient(to right, #00a1d9 0%, #32c8c7 100%);
	 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a1d9', endColorstr='#32c8c7', GradientType=1 );
	}
	.coming-soon .header,  .coming-soon .footer {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
	}
	.coming-soon .footer {
		bottom: 0;
		top: auto;
	}
	.coming-soon .coming-soon-inner {
		position: absolute;
		top: 50%;
		left: 0;
		right: 0;
		display: inline-block;
		padding: 50px 20px 100px;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
	}
	.coming-soon-inner h1 {
		font-size: 100px;
		color: #fff;
		font-weight: 500;
		letter-spacing: 0.3px;
	}
	.coming-soon-inner h1:not(:last-child) {
		margin-bottom: 40px;
	}
	.coming-soon-inner form {
		display: inline-block;
	}
	.coming-soon-inner form input {
		min-width: 300px;
	}
	/* Page 404 */

	.page-404-section {
		position: relative;
		min-height: 300px;
	}
	.page-404-section .inner-404 {
		text-align: center;
	}
	.page-404-section .inner-404 h1 {
		font-size: 400px;
		font-weight: 900;
		color: #cc1f1a;
		line-height: 310px;
	}
	.page-404-section .inner-404 h1:not(:last-child) {
		margin-bottom: 80px;
	}
	.page-404-section .inner-404 h4 {
		color: #222;
	}
	.page-404-section .inner-404 p.text-size-big {
		font-size: 24px;
		line-height: 43px;
		letter-spacing: -0.1px;
	}
	.page-404-section .inner-404 .text-size-big:not(:last-child) {
		margin-bottom: 10px;
	}
	.page-404-section .inner-404 p.text-size-small {
		font-size: 14px;
	}
	.page-404-section .inner-404 p.text-size-small:not(:last-child) {
		margin-bottom: 20px;
	}
	.page-404-section .inner-404 p a {
		color: #00a1d9;
	}
	.page-404-section .inner-404 p a:hover {
		text-decoration: underline;
	}
	.page-404-section .inner-404 form input {
		min-width: 430px;
	}

	  /*----------- Buttons --------------*/
  .btn-small, .btn-primary{
	padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
	}
	.btn + .btn{margin-left:5px;}
.btn-primary.disabled, .btn-primary:disabled{cursor:not-allowed;}
/* .btn-primary.disabled:hover, .btn-primary:disabled:hover{background:#fd8411 !important;} */
.btn-primary, .search_box_main .search_box .btn{background:#fd8411 !important; border:#fd8411 !important;}
/* .btn:hover, .btn:active{background: #ff9a05!important; color: #fff!important; border:1px solid #ff9a05;} */
.btn:focus, .btn:active{box-shadow:none !important; }
.btn-danger:hover, .btn-danger:focus, .btn-danger:active{background: #de182b !important; border: 1px solid #de182b  !important; box-shadow:none !important;}
.btn-success:hover, .btn-success:focus, .btn-success:active{background: #11af35 !important; border: 1px solid #11af35 !important; box-shadow:none !important; }

	.btn-big {
		padding: 15px 30px;
		font-size: 18px;
		font-weight: 600;
		letter-spacing: 0.5px;
	}

	.go-to-top {
		position: fixed;
		z-index: 103;
		right: 60px;
		bottom: 30%;
		background: rgba(42,44,50,0.8);
		color: #e2e2e3;
		opacity: 0;
		visibility: hidden;
		-webkit-animation-duration: .5s;
		animation-duration: .5s;
	}
	.go-to-top.go-top-visible {
		right: 40px;
		opacity: 1;
		visibility: visible;
		display: block;
	}
	.go-to-top:before {
		content: "\e939";
	}
	.go-to-top:hover {
		color: #fff;
		background: rgba(42,44,50,1);
	}
	.go-to-top {
		width: 42px;
		height: 42px;
		border-radius: 3px;
		border: dotted 1px #555;
		padding: 0;
		text-align: center;
		font-size: 14px;
	}
	.btns-set:not(:last-child) {
		margin-bottom: 50px;
	}
	.btns-set .flex-row {
		margin: 0 -15px -15px;
	}
	.btns-set .flex-row > .btn-col {
		padding: 0 15px 15px;
	}
	.btns-set .btn-col ul > li:not(:last-child) {
		margin-bottom: 10px;
	}
	.info-btn {
		font-weight: bold;
		text-transform: uppercase;
		color: #f9ba17;
		letter-spacing: 0.5px;
		line-height: 1em;
		position: relative;
		display: inline-block;
		border-bottom: 1px solid transparent;
	}
	.info-btn:hover {
		border-color: inherit;
		color: #f45c43;
	}
	.icons-wrap .info-btn:hover {
		border-color: inherit;
	}
	.info-btn.prev-btn,  .info-btn.exp-btn {
		margin-left: 15px;
	}
	.info-btn.prev-btn:after,  .info-btn.exp-btn:after,  .info-btn.next-btn:after {
		position: absolute;
		left: -15px;
		top: 0;
		font-weight: 500;
	}
	.info-btn.prev-btn:after {
		content: '\00ab';
	}
	.info-btn.next-btn {
		margin-left: 0;
		margin-right: 15px;
	}
	.info-btn.next-btn:after {
		left: auto;
		right: -15px;
		content: '\00bb';
	}
	/*----------- Forms --------------*/

	form.with-icon input {
		padding: 10px 60px 10px 20px;
	}
	form.with-icon input+button {
		position: absolute;
		right: 15px;
		top: 0;
		line-height: 40px;
		font-size: 20px;
		color: #80c644;
		background: transparent;
	}
	form.with-icon input+button:hover {
		color: #2a2c32;
	}
	/* Label & Legend */

	label,  legend {
		color: #222;
		margin-bottom: 3px;
		display: block;
	}
	legend {
		color: inherit;
		padding: 0 7px;
		margin-bottom: 0px;
	}
	label[for] {
		cursor: pointer;
		-webkit-user-select: none;
		-moz-user-select: none;
		-o-user-select: none;
		user-select: none;
	}
	label span:not(.required) {
		color: #777;
		font-size: 14px;
	}
	.required:after {
		content: "*";
		color: #ff7e41;
		display: inline-block;
		margin-left: 2px;
		font-size: 14px;
	}
	/* Checkbox & Radio */

	.form-style1 input:not(:last-child) {
		margin-bottom: 6px;
	}
	/*----------- Custom Select --------------*/

	.custom-select {
		position: relative;
		display: inline-block;
		vertical-align: middle;
		width: 100%;
	}
	.custom-select .select-title {
		cursor: pointer;
		position: relative;
		padding: 8px 20px;
		overflow: hidden;
	}
	.custom-select .select-title.active {
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}
	.custom-select .select-list {
		position: absolute;
		left: 0;
		top: 100%;
		cursor: pointer;
		background: #f5f5f5;
		z-index: 9;
		display: none;
		border: 2px solid #eee;
		width: 100%;
		border-top: none;
	}
	.custom-select .select-list li {
		padding: 10px 20px;
		color: #777;
		font-weight: 400;
		font-size: 14px;
		-webkit-transition: all .3s ease;
		-o-transition: all .3s ease;
		transition: all .3s ease;
	}
	.custom-select .select-list li:hover {
		background: #404040;
		color: #fff;
	}
	.custom-select .select-title:before {
		content: '\f107';
		font-family: 'fontello';
		position: absolute;
		font-size: 18px;
		top: 0;
		right: 20px;
		line-height: 40px;
		color: #7b8285;
	}
	.custom-select .select-title.active:before {
		content: '\f106';
	}
	/* Fieldset */

	fieldset {
		border-radius: 8px;
		padding: 20px;
		border-color: #f1f1f1;
	}
	fieldset:not(:last-child) {
		margin-bottom: 15px;
	}
	/* Price Scale */

	.price-scale {
		margin-top: 10px;
		padding: 0;
	}
	.price-scale:not(.distance) .range-values:not(:last-child) {
		margin-bottom: 25px;
	}
	.ui-slider {
		height: 12px;
		position: relative;
		margin-top: 5px;
		border-radius: 3px;
		border: 2px solid #f2f3f6;
		margin-bottom: 10px;
	}
	.ui-slider-handle {
		width: 15px;
		height: 22px;
		top: 50%;
		border-radius: 3px;
		display: inline-block;
		margin-top: -11px;
		position: absolute;
		z-index: 1;
		background: #fff;
		margin-left: -3px;
		border: 2px solid #f2f3f6;
		-webkit-transition: none;
		-o-transition: none;
		transition: none;
	}
	.ui-slider-handle:last-child {
		margin-right: -2px;
	}
	.range-values input[type="text"] {
		padding: 0;
		height: auto;
		border: none;
		background: transparent;
		font-size: 14px;
		width: 35px;
	}
	.price-scale.distance input[type="text"] {
		width: auto;
		text-align: right;
		background: none;
	}
	.price-scale.distance .ui-slider {
		margin-bottom: 0;
	}
	.price-scale.distance .ui-slider-handle {
		background: #80c644;
		border: none;
		border-radius: 50%;
		width: 20px;
		height: 20px;
		margin-left: -6px;
	}
	.range-values span,  .range-values input[type="text"] {
		color: #7b8285;
	}
	.range-values input:focus {
		border: none;
		box-shadow: none;
	}
	/* Form variations */

	[id*="newsletter"] .btn {
		margin-left: 10px;
	}
	.form-wrap {
		z-index: 1;
		position: relative;
		margin: 0 -5px -10px;
	}
	.form-wrap .form-col {
		padding: 0 5px 10px;
	}
	.form-wrap:not([class*="fx-col"]) .form-col,  .form-wrap .form-col.full-width {
		width: 100%;
	}
	.form-wrap.style-2 input:not([type="submit"]),  .form-wrap.style-2 textarea,  .form-wrap.style-2 .custom-select .select-title,  .form-wrap.style-2 .custom-select .select-list {
		border-color: #fff;
		background: #fff;
		color: #777;
		font-weight: 300;
	}
	.form-wrap.style-2 .custom-select .select-list {
		border-bottom-left-radius: 3px;
		border-bottom-right-radius: 3px;
	}
	[id*="newsletter"] .btn-email-icon {
		font-size: 30px;
		padding: 4px 9px 10px 11px;
		text-align: center;
	}
	.search-form {
		position: relative;
		overflow: hidden;
	}
	.search-form > button {
		position: absolute;
		right: 20px;
		top: 0;
		font-size: 20px;
		line-height: 50px;
		color: #222;
		background: none;
	}
	.contact-form .flex-row:not(:last-child) {
		margin-bottom: -15px;
	}
	.contact-form .flex-row:not(:first-child) {
		margin-top: 15px;
	}
	.contact-form .flex-row [class*="col-"] .btn {
		margin-top: 25px;
		padding-left: 100px;
		padding-right: 100px;
	}
	.contact-form .flex-row > [class*="col-"]:not(:last-child) {
		margin-bottom: 0!important;
	}
	 .contact-form .flex-row > [class*="col-"] {
	 padding-bottom: 15px;
	}
	.contact-form .with-text {
		overflow: hidden;
	}
	.contact-form .with-text input {
		max-width: 260px;
	}
	.contact-form .with-text input,  .contact-form .with-text p {
		display: inline-block;
		vertical-align: middle;
	}
	.contact-form .with-text input {
		margin-right: 20px;
	}
	/*----------- Tables --------------*/


	 [class*="table-type"] {
	 border-radius: 3px;
	 overflow: hidden;
	}
	.table-type-2 {
		border-radius: 3px;
	}
	[class*="table-type"] table tr > th {
		font-weight: 500;
	}
	[class*="table-type"] table tr > td {
		background: #eee;
		font-size: 14px;
	}
	[class*="table-type"] table tr:nth-child(2n) > td {
		background: #f8f8f8;
	}
	[class*="table-type"] table tr > td,  [class*="table-type"] table tr > th {
		padding: 11px 30px 10px;
		text-align: left;
	}
	[class*="table-type"] table tr > th,  [class*="table-type"] table tr.bg-cell > td {
		color: #fff;
		font-size: 16px;
	}
	[class*="table-type"] table tr.bg-cell > td {
		font-weight: 500;
		color: #cc1f1a;
	}
	.table-type-1 tr:first-child > th,  .table-type-2 tr > th {
		background: #04518c;
	}
	.table-type-2 table tr > th,  .table-type-2 table tr > td {
		padding: 11px 20px 10px;
	}
	.table-type-2 tr:last-child > th {
		border-radius: 0 0 0 3px;
	}
	.table-type-2 table tr:nth-child(2n) > th {
		background: #044a7f;
	}
	/*----------- Lists --------------*/

	.custom-list:not(:last-child) {
		margin-bottom: 25px;
	}
	.custom-list > li {
		position: relative;
		margin-left: 29px;
	}
	.custom-list li span {
		color: #7b8285;
	}
	.custom-list > li > ul > li,  .custom-list > li > ol > li {
		margin-left: 20px;
	}
	.custom-list.var2[class*="type-"] > li:after {
		content: "";
		display: block;
		clear: both;
	}
	.custom-list.var2[class*="type-"] > li a {
		overflow: hidden;
		font-weight: 300;
	}
	.custom-list.var2[class*="type-"] > li a:hover {
		color: #f45c43;
	}
	.custom-list.var2[class*="type-"] > li:before {
		float: left;
	}
	.custom-list.type2:not(:last-child) {
		margin-bottom: 20px;
	}
	.custom-list.type2 > li:not(:last-child) {
		margin-bottom: 0;
	}
	.custom-list > li:not(:last-child),  .custom-list > li > ul > li:not(:last-child),  .custom-list > li > ol > li:not(:last-child) {
		margin-bottom: 12px;
	}
	.custom-list > li > ul,  .custom-list > li > ol {
		margin-top: 10px;
	}
	.custom-list > li h6 {
		line-height: 26px;
		color: #4b4e50;
	}
	.custom-list > li h6:not(:last-child) {
		margin-bottom: 5px;
	}
	.custom-list[class*="type-"] li before {
		content: "";
		display: inline-block;
		vertical-align: middle;
		margin-left: -29px;
		margin-right: 13px;
		color: #f45c43;
		font-size: 16px;
	}
	.custom-list.type-1 li before {
		content: "\e959";
	}
	.custom-list.type-2 li before {
		content: "\e944";
	}
	.custom-list.type-2-gold li before {
		content: "\e944";
		color: #cabc8b;
	}
	.custom-list.type-3 li before {
		content: "\e68d";
	}
	.custom-list.type-4,  .custom-list.type-4 > li > ol {
		counter-reset: item;
	}
	.custom-list.type-4 li:before {
		content: counters(item, ".")".";
		counter-increment: item;
		font-size: 16px;
	}
	.custom-list.type-5 li before {
		content: "\e965";
	}
	.custom-list.type-6 li before {
		content: "\e6d8";
		margin-top: -4px;
	}
	.custom-list > li:not(:last-child) {
		margin-bottom: 12px;
	}
	/* contact info */

	.contact-info:not(.v-type) {
		margin: 0 -20px -30px;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-webkit-flex-flow: row wrap;
		flex-flow: row wrap;
	}
	.contact-info:not(.v-type) > li {
		padding: 0 20px 30px;
	}
	.contact-info li > i {
		margin-right: 10px;
	}
	.contact-info li.info-item {
		color: #222;
		text-align: left;
		letter-spacing: 0.5px;
	}
	.contact-info li.info-item > i {
		font-size: 36px;
		padding-right: 15px;
	}
	.contact-info li.info-item > * {
		display: table-cell;
		vertical-align: top;
	}
	.contact-info li.info-item > .item-info h4 {
		font-size: 24px;
		font-weight: 600;
		color: #cc1f1a;
		line-height: 26px;
	}
	.contact-info li.info-item > .item-info span {
		font-size: 14px;
		text-transform: uppercase;
		display: block;
		line-height: 18px;
		font-weight: normal;
	}
	.contact-info li.info-item > .item-info > a {
		color: #ff7e41;
		text-transform: uppercase;
		line-height: 18px;
		display: block;
	}
	.contact-info li.info-item > .item-info > a:hover {
		text-decoration: underline;
		color: #f45c43;
	}
	.contact-info.v-type li.info-item:not(:last-child) {
		margin-bottom: 30px;
	}
	/* social icons */

	.social-icons {
		margin: 0 -10px -5px;
		font-size: 0;
	}
	.social-icons li {
		font-size: 16px;
		padding: 0 10px 5px;
		display: inline-block;
	}
	.social-icons li.arabic-link {
		font-family: 'El Messiri', sans-serif;
		font-weight: 700;
	}
	.social-icons li.arabic-link a {
		color: #404040;
	}
	.social-icons li.arabic-link a:hover {
		color: #ff7e41;
	}
	.social-icons li a .icon-facebook {
		color: #888;
	}
	.social-icons li a .icon-twitter {
		color: #888;
	}
	.social-icons li a .icon-youtube-play {
		color: #dc4a3d;
	}
	.social-icons li a .icon-gplus-3 {
		color: #e62117;
	}
	.social-icons li a .icon-instagram-5 {
		color: #888;
	}
	.social-icons li a .icon-linkedin-3 {
		color: #888;
	}
	.social-icons.style-2 {
		margin: 0 -5px -10px;
		font-size: 0;
	}
	.social-icons.style-2 li {
		font-size: 18px;
		padding: 0 5px 10px;
	}
